[submodule "dwm"]
	path = dwm
	url = git@gitlab.com:aonemd/dwm.git
	branch = master
  ignore = all
[submodule "st"]
	path = st
	url = git@gitlab.com:aonemd/st.git
	branch = master
  ignore = all
[submodule "slock"]
	path = slock
	url = git@gitlab.com:aonemd/slock.git
	branch = master
  ignore = all
[submodule "firefox-sweet-theme"]
	path = firefox-sweet-theme
	url = git@github.com:aonemd/firefox-sweet-theme.git
	branch = master
  ignore = all
