.DS_STORE

**/secrets.zsh
git/gitconfig.secrets

# Ignore Vim plugins
vim/vim/plugins/
vim/vim/.netrwhist
vim/vim/view

# NVIM plugins
nvim/plugin

# Ignore Tmux plugins
tmux/tmux/

cmus/

# Ignore `toggle-theme` changes
alacritty/colors.yml
