export WEATHER_API_KEY='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
export WEATHER_CITY_GEOLOCATION='44.44444,55.555555'
export PRAYER_API_PARAMS='city=Jerusalem&country=PS&method=3&latitudeAdjustmentMethod=2'

export AWS_ACCESS_KEY_ID='VVVVVVVVVVVVVVVVVVVV'
export AWS_SECRET_ACCESS_KEY='WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW'
export AWS_REGION='us-east-2'

export NIN_INTEGRATION_CLIENT='todoist'
export NIN_INTEGRATION_CLIENT_TOKEN='VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV'
export COD_TODOIST_TOKEN='VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV'

export OPENAI_API_KEY='VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV'

# Java & Android
export JAVA_HOME="$(brew --prefix openjdk)/libexec/openjdk.jdk/Contents/Home"
export JAVA_HOME="/Users/ahmedsaleh/.local/share/mise/installs/java/zulu-15.46.17/Contents/Home"
export ANDROID_HOME=/opt/android-sdk
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
