/* stylelint-disable */
@define-color text            #f1efee;
@define-color background-alt  alpha(#292624, 1);
@define-color background      #1b1918;
@define-color selected        #33ccff;
@define-color selected-alt    #363a4f;
@define-color mantle          #1e2030;
@define-color green           #a6da95;
@define-color selected-text   #f1efee;
@define-color hover           alpha(@selected, 1);
@define-color hover-text      #f1efee;
@define-color urgent          #f22c40;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: "Noto Sans Regular 11", "JetBrains Mono Nerd Font 10";

}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: alpha(black, 0.1);
}

scale trough {
  margin: 0rem 1rem;
  background-color: @selected-alt;
  min-height: 8px;
  min-width: 70px;
}

.widget-volume trough highlight {
  background: @selected;
  border-radius: 15px;
}

.widget-volume trough {
  border-radius: 15px;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, 1);
  border-radius: 15px;
  /* border: 1px solid @selected; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 0px 8px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  min-height: 10px;
  border-radius: 12px;
  background-color: @selected-alt;
}

progressbar {
  min-height: 10px;
  background-color: @selected-alt;
  color: @green;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
  color: @hover-text;
}

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
  color: @selected;
}

.widget-dnd > switch slider {
  background: @selected;
  border-radius: 6px;
}

.widget-dnd > switch slider:checked {
  background: @mantle;
  color: @selected-text;
}

.widget-dnd > switch:checked {
  background: @selected;
  color: @mantle;
}


  /* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 0px 6px;
  border-radius: 12px;
  background: @background-alt;
  transition: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover;
  color: @hover-text;
  transition: none;
}

  /* Music player */
.widget-mpris {
    background: @background-alt;
    border-radius: 15px;
    color: @text;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    border-radius: 15px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}

.widget-mpris button {
  color: @text;
}

.widget-mpris button:hover {
  color: @selected;
}

.widget-mpris-album-art {
  border-radius: 16px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

  /* Volume Slider */

.widget-volume {
    background: @background-alt;
    padding: 7px;
    margin: 0px 10px;
    border-radius: 10px;
    color: @selected;
}

.widget-volume > box > button {
    background: inherit;
    border: none;
    color: @selected;
}

.per-app-volume {
    background-color: @background;
    padding: 4px;
    margin: 0 8px 8px;
    border-radius: 10px;
    color: @selected;
}

/* NOTIFICATIONS --------------------------------------------------------------------------- */

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background-alt, 1);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid #373b41;
  border-radius: 15px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 1px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @background-alt ;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  margin: 10px 20px 10px 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 1px 4px black;
  background-color: #fff;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}

/* stylelint enable */
