* {
  font-family: NotoSans Nerd Font, JetBrainsMono Nerd Font, sans-serif;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  min-height: 18px;
  /* font-size: 18px; */
  margin: 16px 16px;
  /* background: @theme_base_color; */
  /* border-bottom: 1px solid @unfocused_borders; */
  /* color: @theme_text_color; */
  color: white;
  background-color: rgba(27, 25, 24, 0.70);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#tray,
#window,
#mode,
#idle_inhibitor,
#clock,
#battery,
#network,
#language,
#submap,
#pulseaudio,
#pulseaudio-input,
#bluetooth,
#custom-launcher,
#custom-prayer,
#custom-power,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-notification,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  border-radius: 7px;
  padding: 0 10px;
  color: #e5e5e5;
}

#custom-launcher {
  margin-left: 5px;
}

#window {
  color: #64727d;
}

#workspaces {
  background: transparent;
  margin-left: 20px;
	padding: 0px 0px;
  border-radius: 5px;
  border: 0px;
  opacity: 0.8;
  font-style: normal;
  font-size: 12px;
}

#workspaces button {
  padding: 0px 7px;
  margin: 3px 3px;
  min-width: 10px;
  border: 0px;
  border-radius: 5px;
  color: black;
  color: #fff;
  background: #fff;
  /* background-color: transparent; */
  opacity: 1;
}

#workspaces button.active {
  min-width: 10px;
  border-radius: 5px;
  color: #000;
  background: #fff;
  opacity: 1;
}

#workspaces button:hover {
  /* default */
}

#workspaces button.active:hover {
  /* background-color: transparent; */
}

#workspaces button.urgent {
  color: #eb4d4b;
}

#custom-power {
  margin-right: 5px;
}

#mode {
  font-style:italic;
}

#battery.charging {
  color: #d5911a;
}

#battery.warning:not(.charging) {
  color: #f22c40;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#network.disconnected {
  background: #f53c3c;
}
