; /etc/systemd/system/lockaftersuspend.service
; systemctl daemon-reload && systemctl enable lockaftersuspend.service

[Unit]
Description = Lock the screen after suspend

[Service]
User        = yahmds
Type        = forking
Environment = DISPLAY=:0
ExecStart   = /home/yahmds/Workspace/aaku/i3/scripts/screenlock.sh

[Install]
WantedBy = sleep.target
WantedBy = suspend.target
