* {
  font-family:  'SF Pro Regular', 'JetBrainsMono Nerd Font;', sans-serif;
  font-size: 16px;
}

window {
  margin: 0px;
  border: 1px solid #111019;
  border-radius: 15px;
  background-color: rgba(11, 10, 16, 0.90);
}

#input {
  all: unset;
  min-height: 36px;
  padding: 10px 10px;
  margin: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #585858;
  outline: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
}

#inner-box {
  padding: 2px;
  margin: 4px;
  font-weight: normal;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: 1px solid #111019;
  border-radius: 15px;
}

#scroll {
  margin-top: 5px;
  border: none;
  margin-bottom: 5px;
}

#entry {
  margin: 1px 0px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  color: white;
  /* background: linear-gradient(90deg, #33ccff 0%, #f09db5 100%); */
  background: #33ccff;
}

#text {
  margin-left: 6px;
}
