* {
  font-family:  'Noto', 'JetBrainsMono Nerd Font;', sans-serif;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 5px solid #111019;
  border-radius: 15px;
  background-color: rgba(11, 10, 16, 0.93);
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  outline: none;
  color: white;
  background-color: #161420;
  font-size: 16px;
  font-weight: bold;
}

#inner-box {
  padding: 10px;
  margin: 4px;
  font-weight: bold;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: 5px solid #111019;
  border-radius: 15px;
}

#scroll {
  margin-top: 5px;
  border: none;
  margin-bottom: 5px;
}

#entry {
  margin: 0px 0px;
  /* padding: 5px 2px; */
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  border: none;
  color: white;
  border-radius: 8px;
  /* background: linear-gradient(90deg, #33ccff 0%, #f09db5 100%); */
  background: #33ccff;
}

#text {
  margin-left: 4px;
}
